.hide {
  display: none;
}

.mdl-button {
  height: unset;
  text-transform: unset;
  text-align: unset;
}

.mdl-layout__header-row {
  padding-left: 32px;
}

.server-card.mdl-card {
  width: 256px;
  height: 256px;
}
.server-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(63,81,181, 0.6);
}
.server-card > .mdl-card__title {
  align-items: flex-start;
}
.server-card__href {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}